#header {
    width: 100%;
    margin: 0px auto;
    border-left: 560px #BD2514 solid;
    background-color: #FF6501;
}

#name {
    margin: 0;
    font-size: 200%;
    font-weight: 800;
    display: inline-block;
    margin-left: -555px;
    color: rgb(241, 241, 241);
}

#c2a {
    display: inline-block;
    font-size: 75%;
    margin: 0;
}
