#header {
    width: 100%;
    margin: 0px auto;
    border-left: 2px red solid;
    background-color: #ef8521;
}

#name {
    margin: 0;
    font-size: 200%;
    font-weight: 800;
    display: inline-block;
}

#c2a {
    display: inline-block;
    font-size: 75%;
    margin: 0;
}
