#mainCarousel {
    width: 70%;
    margin: 0px auto;
    position: relative;
}

.carousel-caption h3, .carousel-caption p {
    text-shadow: 2px 2px 3px black;
}

h3 {
    text-align: center;
}

.searchArea {
    background-color: rgb(255, 101, 1);
    padding: 10px;
    margin-top: -10px;
    border-radius: .25rem;
}

.searchBar {
    margin-top: 10px;
    width: 70%;
    margin: 0px auto;

    input[type=text] {
        width: 70%;
        display: block;
        margin: 0px auto;
        margin-top: 10px;
        text-align: center;
        margin-top: 10px;
    }
}

::placeholder { /* Firefox */
    font-style: italic;
    opacity: .5;
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
    opacity: .5;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
    opacity: .5;
}

.buttons {
    display: flex;
    justify-content: center;

    button {
        margin: 10px;
    }
}

#categoryButtons button {
    border-radius: .25rem .25rem 0 0;
}